body{
    margin: 0%;
    padding: 0%;
}
i{
    font-size: 60px;
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    text-align: center;
    font-size: 2em;
}
div{
    text-align: center;
    font-size: 2em;
}